<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.phone.overlay.kona">
    <application android:hasCode="false" android:allowBackup="false"/>
    <overlay
      android:targetPackage="com.android.phone"
      android:isStatic="true"
      android:priority="800"/>
</manifest>